*{
    background-color: #1c191900;
    
}

body{
    width: 100px;
    height: 100px;
}

.main-header{
    width: 100%;
    height: 50px;
    background: linear-gradient(rgb(10, 10, 10), #1c191900);
    padding-top: 15px;
    display: flex;
    position: fixed;
    z-index: 9998;
    align-items: center;
}