*{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar{
    display: none;
}

button{
    background-color: rgb(255, 255, 255);
    width: 130px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    top: 525px;
    left: 340px;
    border: none;
}

.logoImg{
    margin-right: 20px;
    margin-left: 30px;
    width: 180px;
    height: 35px;
}

.main-header{
    width: 100%;
    height: 50px;
    background: linear-gradient(rgb(10, 10, 10), #1c191900);
    padding-top: 15px;
    display: flex;
    z-index: 9998;
    align-items: center;
}

.navigation{
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 20px;
}

.navigation li a{
    color: white;
    text-decoration: none;
    margin: 20px 20px 10px 10px;
    flex-direction: column-reverse;
    align-content: space-around;
    font-size: 15px;
}

.detail-div{
    display: flex;
}

.detail-img{
    width: 35%;
    height: 55%;
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -45%);
    border-radius: 8px;
}

.divHero{
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    height: 100%;
    z-index: -2;
}

.play-button{
    position: absolute;
    width: 145px;
    height: 38px;
    top: 64%;
    left: 8%;
    transition: all 0.5s ease-out;
}

.play-button:hover{
    transform: scale(1.2);
}

.detail-name{
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 54px;
    z-index: 1;
    -webkit-text-stroke: 1.2px black;
}

.text-detail{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-weight: 600;
}

.overview-div{
    width: 610px;
    height: auto;
}

.overview{
    width: 604px;
    height: auto;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    font-weight: 600;
}

.genres{
    width: 110px;
    min-height: 100px;
    max-height: 220px;
    height: auto;
    color: #DDDDDD;
    border-radius: 8px;
}

.average-vote{
    width: 110px;
    height: 100px;
    color: #0074D9;
    border-radius: 8px;
}

.last-episode{
    height: 100px;
    width: 110px;
    color: #DDDDDD;
    border-radius: 8px;
}

.ratings, .last-episode-text, .genres-text{
    color: rgb(107, 107, 107);
}

.similar-titles-div{
    height: 50px;
    margin-bottom: 10px;
}

.similar-titles{
    border: 1px solid transparent;
    color: white;
}

.cardImg {
    border-radius: 2px;
    width: 100px;
    border-radius: 15px;
}

.recommended .card:focus,
.recommended .card:hover {
    transform: scale(1.1);
    transform: skewX(10);
}

.cardTitle{
    position: absolute;
    color: white;
    font-size: 12px;
    top: 92%;
    left: 8px;
    visibility: hidden;
}

.card{
    position: relative;
    display: flex;
    transition: transform 800ms;
    width: 199px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.recommended{
    display: flex;
    flex-flow: row;
    gap: 10px;
    margin-top: 645px;
    margin-left: -50px;
    margin-right: 10px;
    overflow: hidden;
    width: 100vw;
    height: 230px;
    align-items: flex-start;
}

.slides {
    background: transparent;
    width: 0px;
    height: 163px;
    top: 35px;
    color: white;
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    transition: transform 500ms ease 0s;
    font-size: 50px;
    text-align: center;
    z-index: 1;
}

.slides:hover{
    transform: scale(1.5);
}

#slide-right {
    position: sticky;
    left: 98vw;
    margin-right: 4px;
}

#slide-left{
    position: sticky;
    left: 90px;
    visibility: hidden;
}

#fa-left, #fa-right{
    position: absolute;
    top: 58px;
    left: 3px;
}
