*{
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #1c1919;
    font-size: 18px;
}

.main-header{
    width: 100%;
    background: linear-gradient(rgb(10, 10, 10), #1c1919);
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.homepage{
    text-decoration: none;
    color: white;  
}

.logoImg{
    margin-right: 20px;
    width: 300px;
    height: 70px;
}

.fa-search{
    color: white;
}

.searchInp{
    background-color: #000;
    border: 1px ridge ;
    padding: 4px;
    color: white;
}

.titleHero{
    color: white;
    position: absolute;
    top: 80px;
    left: 28px;
    font-size: 50px;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
}

.divHero{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px 8px #1c1919 inset;
}

.divBlurred{
    width: 100%;
    height: 100px;
    background-color: red;
}

.popular-seriesh2 {
    color: white;
    margin-left: 35px;
    margin-top: -218px;
    margin-bottom: -120px;
    font-weight: 600;
    font-size: 35px;
    text-shadow: 0px 0px 10px black;
    -webkit-text-stroke: 2px black
}

.popular-series {
    display: flex;
    flex-flow: row;
    gap: 5px;
    margin-top: 125px;
    margin-left: -52px;
    margin-right: 10px;
    width: 100vw;
    height: 464px;
    align-items: flex-start;
    padding: 15px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.card {
    position: relative;
    display: flex;
    transition: transform 800ms;
    width: 200px;
    height: 275px;
    padding: 5px;
    margin-top: 45px;
}
  
.cardImg{
    border-radius: 2px;
}

.popular-series .card:focus,
.popular-series .card:hover {
    transform: scale(1.5);
    transform: skewX(10);
    z-index: 1;
}

.cardTitle{
    position: absolute;
    color: white;
    font-size: 12px;
    top: 270px;
    left: 8px;
    visibility: hidden;
}

.seriesVote{
    position: absolute;
    left: 7px;
    top: 299px;
    color: white;
    font-size: 9px;
    visibility: hidden;
}


.top-rated-seriesh2{
    color: white;
    margin-left: 35px;
    margin-top: -24px;
    margin-bottom: -120px;
    font-weight: 600;
    font-size: 35px;
    -webkit-text-stroke: 2px black
}

.top-rated-series{
    display: flex;
    flex-flow: row;
    gap: 5px;
    margin-top: 96px;
    margin-left: -52px;
    margin-right: 10px;
    overflow: hidden;
    width: 100vw;
    height: 464px;
    align-items: flex-start;
    padding: 15px;
    scroll-behavior: smooth;
}

.card2 {
    position: relative;
    display: flex;
    transition: transform 800ms;
    width: 200px;
    height: 275px;
    padding: 5px;
    margin-top: 45px;
}
  
.cardImg2{
    border-radius: 2px;
}

.top-rated-series .card2:focus,
.top-rated-series .card2:hover {
    transform: scale(1.5);
    transform: skewX(10);
    z-index: 1;
}

.cardTitle2{
    position: absolute;
    color: white;
    font-size: 12px;
    top: 270px;
    left: 8px;
    visibility: hidden;
}

.seriesVote2{
    position: absolute;
    left: 8px;
    top: 300px;
    color: white;
    font-size: 9px;
    visibility: hidden;
}

.slides {
    background: transparent;
    width: 0px;
    height: 163px;
    position: sticky;
    top: 115px;
    left: 79px;
    color: white;
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    transition: transform 500ms;
    font-size: 50px;
    text-align: center;
}

.slides:hover{
    transform: scale(1.2);
}

#slide-right {
    position: sticky;
    left: 99vw;
    z-index: 10;
    margin-right: 4px;
}

#slide-left{
    z-index: 10;
    visibility: hidden;
}

#fa-left{
    position: absolute;
    left: 3px;
    top: 58px;
}

#fa-right{
    position: absolute;
    top: 58px;
    right: 3px;
}

.slides2 {
    background: transparent;
    width: 0px;
    height: 163px;
    position: sticky;
    top: 115px;
    left: 79px;
    color: white;
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    transition: transform 500ms;
    font-size: 50px;
    text-align: center;
}

.slides2:hover{
    transform: scale(1.2);
}

#slide-right2 {
    position: sticky;
    left: 99vw;
    z-index: 10;
    margin-right: 4px;
}

#slide-left2{
    z-index: 10;
    visibility: hidden;
}

#fa-left2{
    position: absolute;
    left: 3px;
    top: 58px;
}

#fa-right2{
    position: absolute;
    top: 58px;
    right: 3px;
}
