* {
    scroll-behavior: smooth;
}
  
*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #1c1919;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

.background-image .imgHero{
    width: 100%;
    height: 1%;
    z-index: -5;
}

.main-header {
    width: 100%;
    height: 35px;
    background: linear-gradient(rgb(10, 10, 10), #1c191900);
    padding-top: 15px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 9999;
    align-items: center;
}
  
.navigation {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 4px 0 15px
}
  
.navigation li a {
    color: white;
    text-decoration: none;
    margin: 20px 20px 10px 10px;
    flex-direction: column-reverse;
    align-content: space-around;
    font-size: 15px;
}
  
.main-header-scrolled {
    background: linear-gradient(rgb(10, 10, 10), #1c1919d7);
}
  
.homepage {
    text-decoration: none;
    color: white;
}
  
.logoImg {
    margin-right: 20px;
    margin-left: 30px;
    width: 180px;
    height: 35px;
}
  
.search-box {
    position: fixed;
    width: 250px;
    left: 85%;
}
  
.search-box .search-box__input {
    outline: none;
    background: rgba(0, 0, 0, 0.85);
    border: solid 1px rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 7px 14px 7px 40px;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transition: ease width 0.5s, ease opacity 1s;
}
  
.search-box .search-box__icon {
    position: absolute;
    top: 7px;
    color: white;
    z-index: 10;
    cursor: pointer;
    right: 10px;
    transition: ease transform 0.5s;
    transition-delay: 30ms;
}
  
.search-box.active .search-box__icon {
    transform: translateX(-214px);
}
  
.search-box.active .search-box__input {
    opacity: 1;
    width: 100%;
}

.aotImg{
    position: absolute;
    width: 35%;
    height: 25%;
    top: 60vh;
    z-index: 2;
}
  
.titleHero {
    color: white;
    position: absolute;
    top: 75%;
    left: 2.6%;
    font-size: 40px;
    font-style: oblique;
    font-weight: 600;
    -webkit-text-stroke: 2px black;
    display: none;
}

.blur {
    width: 102%;
    height: 10vh;
    background-color: rgb(28, 25, 25);
    position: absolute;
    left: -55px;
    margin-top: -65px;
    filter: blur(4px);
    z-index: 1;
}

.wrap-button{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 90vh;
    left: 2%;
}
  
.play-button {
    padding: 15px 35px 15px;
    border-radius: 8px;
    margin: 8px 8px 8px 8px;
    color: #000000;
    background-color: #fbdedb;
    display: inline-block;
    background: #ffffff;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    border: transparent;
    margin-right: 50px;
    height: 60px;
    width: 200px;
}

.hero-button {
    padding: 15px 35px 15px;
    border-radius: 8px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    display: inline-block;
    background: #3c3c3c;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset;
    position: relative;
    border: transparent;
    height: 60px;
    width: 200px;
}

.play-button:hover, .play-button:focus {
    opacity: 0.8;
}

.play-button:active{
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

.hero-button:hover, .hero-button:focus {
    opacity: 0.8;
}

.hero-button:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}

.popular-seriesh2 {
    color: white;
    width: 90%;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
    -webkit-text-stroke: 2px black;
    position: relative;
    top: -405px;
    left: 3%;
}

.popular-series{
    display: flex;
    flex-direction: row;
    gap: 45px;
    position: relative;
    height:450px;
    left: -3.1%;
    overflow: hidden;
    top: -420px;
}

.cardImg, .card{
    width: 200px;
    height: 315px;
    border-radius: 15px;
    transition: all 0.3s ease-out 0s;
}

.cardImg{
    overflow: hidden;
}

.card{
    position: relative;
    top: 50px;
    z-index: 1;
}

.card:focus,
.card:hover {
    transform: scale(1.3);
    transform: skewX(10);
    z-index: 1;
}

.cardTitle{
    position: absolute;
    color: white;
    font-size: 14px;
    left: 8px;
    text-align: center;
    top: 250px;
    background: #00000066;
    border-radius: 5px;
    visibility: hidden;
}

.seriesVote {
    position: absolute;
    left: 7px;
    top: 285px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    visibility: hidden;
    transition: all 0.5 ease-out;
}

.slides {
    background: transparent;
    width: 0px;
    height: 163px;
    top: 115px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    transition: transform 500ms ease 0s;
    font-size: 60px;
    text-align: center;
    z-index: 2;
}  

.slides:hover{
    transform: scale(1.5);
    color: rgb(255, 0, 0);
}

#slide-right {
    position: sticky;
    left: 98.6%;
    margin-right: 4px;
}

#slide-left{
    position: sticky;
    left: 110px;
    visibility: hidden;
}

#fa-left, #fa-right{
    position: absolute;
    top: 58px;
    left: 3px;
}
  
.top-rated-seriesh2{
    color: white;
    width: 90%;
    font-weight: 600;
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
    -webkit-text-stroke: 2px black;
    position: relative;
    top: -405px;
    left: 3%;
}

.top-rated-series{
    display: flex;
    flex-direction: row;
    gap: 45px;
    position: relative;
    height:450px;
    left: -3.1%;
    overflow: hidden;
    top: -420px;
    margin-bottom: -230px;
}

.cardImg2, .card2{
    width: 200px;
    height: 315px;
    border-radius: 15px;
    transition: all 0.3s ease-out 0s;
}

.cardImg2{
    overflow: hidden;
}

.card2{
    position: relative;
    top: 50px;
    z-index: 1;
}

.card2:focus,
.card2:hover {
    transform: scale(1.3);
    transform: skewX(10);
    z-index: 1;
}

.cardTitle2{
    position: absolute;
    color: white;
    font-size: 14px;
    left: 8px;
    text-align: center;
    top: 250px;
    background: #00000066;
    border-radius: 5px;
    visibility: hidden;
}

.seriesVote2 {
    position: absolute;
    left: 7px;
    top: 285px;
    color: white;
    font-size: 12px;
    font-weight: 600;
    visibility: hidden;
    transition: all 0.5 ease-out;
}

.slides2 {
    background: transparent;
    width: 0px;
    height: 163px;
    top: 115px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 15px;
    cursor: pointer;
    transition: transform 500ms ease 0s;
    font-size: 60px;
    text-align: center;
    z-index: 2;
}  

.slides2:hover{
    transform: scale(1.5);
    color: rgb(255, 0, 0);
}

#slide-right2 {
    position: sticky;
    left: 98.6%;
    margin-right: 4px;
}

#slide-left2{
    position: sticky;
    left: 110px;
    visibility: hidden;
}

#fa-left2, #fa-right2{
    position: absolute;
    top: 58px;
    left: 3px;
}

.social-link{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.fa-brands{
    width: 30px;
    height: auto;
    font-size: 30px;
}

.span-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: grey;
    font-size: 12px;
    margin-bottom: 35px;
}

.andreacicala-div{
    display: flex;
    flex-direction: column;
    color: grey;
    font-size: 11px;
    margin-bottom: 50px;
    align-items: center;
    gap: 15px;
}

@media only screen and (max-width: 1440px) {
    .search-box{
        left: 80%;
    }

    .aotImg{
        top: 135px;
        left: 10px;
    }

    .wrap-button{
        top: 365px;
        left: 55px;
    }

    .hero-button, .play-button{
        width: 150px;
        height: 50px;
        font-size: 13px;
    }

    .popular-series, .top-rated-series{
        height: 300px;
        width: 84em;
        left: -88px;
        gap: 18px;
    }

    .card, .card2, .cardImg, .cardImg2{
        width: 152px;
        height: 200px;
    }

    .seriesVote, .seriesVote2{
        top: 170px;
        font-size: 10px;
    }

    .cardTitle, .cardTitle2{
        top: 150px;
        font-size: 12px;
    }

    .slides, .slides2{
        top: 50px;
        left: 100px;
    }

    .blur{
        left: -23px;
    }

    #slide-right, #slide-right2{
        left: 97%;
    }

}

@media screen and (min-width: 375px) {
    .search-box{
        left: 80%;
    }

    .background-image .imgHero{
        width: 100vw;
        height: 100vh;
    }

    